@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: Roboto, Arial;
}

header {
  padding: 3rem;
  background-color: #dc0a2d;
}

header h1 {
  color: white;
  font-size: 3rem;
  text-align: center;
}

main {
  margin: 0 10rem 0 10rem;
}

section#cards {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-top: 5rem;
}

section#cards div.card {
  width: 20rem;
  box-shadow: 5px 5px 5px 5px #00000015;
  padding: 1rem;
  margin-top: 3rem 0 5rem 0;
}

section#cards div.card img {
  width: 100%;
}

section#cards div.card p.descricao {
  margin-bottom: 1rem;
}

section#cards div.card h3 {
  margin-bottom: 1rem;
}

section#cards div.card a {
  padding: 0.6rem;
  width: 20%;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  font-size: 1rem;
  background-color: #fff;
  border: solid 1px red;
  color: red;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  text-decoration: none;
  margin-top: 2rem;
}

section#cards h2 {
  width: 100%;
  text-align: center;
  margin-bottom: 3rem;
}

section#cadastro {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 5rem;
}

section#cadastro h2 {
  width: 100%;
  text-align: center;
  padding-bottom: 5rem;
}

section#cadastro form {
  width: 50%;
}

section#cadastro form input {
  width: 100%;
  padding: 0.7rem;
  font-size: 1rem;
  outline: none;
  border: solid 2px rgb(197, 197, 197);
  margin: 0 1rem 1rem 1rem;
}

section#cadastro form label {
  margin: 1rem;
  color: rgb(148, 148, 148);
}

section#cadastro form button {
  padding: 0.6rem;
  width: 20%;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  font-size: 1rem;
  background-color: #fff;
  border: solid 1px red;
  color: red;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

section#cadastro form button:hover {
  background-color: red;
  color: #fff;
}

.barra a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.barra a:hover {
  background-color: rgba(54, 53, 54, 0.979);
}

footer {
  background-color: #dc0a2d;
  padding: 3rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

footer p {
  width: 100%;
  color: #fff;
  text-align: center;
  font-size: 1.2rem;
  padding: 0.3rem;
}

footer p a {
  text-decoration: none;
  color: #fff;
  font-weight: 600;
}
